<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>

      <!-- Mi sistema de rutas -->
      <router-outlet></router-outlet>


      <!-- <div class="row">

        <div class="col-3">
          <h3 class="Gou21b">Contacto</h3>
          <div data-field="phone">
            <a class="PDvGL q8cvFf call_tracked" href="tel:+34-914-02-67-71" data-tracking-element-type="3"
              jslog="56037; track:impression,click" itemprop="telephone" dir="ltr">Llamar ahora</a>
            <ul class="R7Di0e">
              <li dir="ltr">914 02 67 71</li>
            </ul>
          </div>

        </div>
      </div>


    </div> -->

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 2023 Achecars
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

  </div>


</div>

<app-modal-imagen></app-modal-imagen>
<app-modal-cita></app-modal-cita>
