<div class="row">
    <div class="col-12">
        <app-dona [labels]="labels1"
                  [data]="data1"
                  title="Compras">
        </app-dona>
    </div>
</div>
<br>
<div class="container">
  <h1>Agradecimiento de Achecars</h1>
  <p>
      En Achecars, queremos expresar nuestro profundo agradecimiento a todos nuestros clientes. A lo largo de estos años,
      nuestras ventas han experimentado un crecimiento constante, y esto se debe en gran medida a la dedicación y
      profesionalismo de nuestros talentosos trabajadores.
  </p>

  <p>
      Nuestro equipo de profesionales es excepcional, y su arduo trabajo ha contribuido significativamente a nuestro éxito
      continuo. Además, queremos agradecer a nuestros valiosos clientes, quienes no solo son clientes, sino personas únicas
      y maravillosas.
  </p>

  <p class="gratitude">
      ¡Gracias por confiar en Achecars! Su problema también es nuestro problema, y estamos comprometidos a trabajar aún
      más duro en los próximos años. Esperamos seguir creciendo juntos.
  </p>

  <p class="signature">Atentamente,<br>El equipo de Achecars</p>
</div>


