<div class="contacto-container">
  <h2>Información de contacto</h2>
  <p>Correo electrónico: <a href="mailto:info@achecars.com">info@achecars.com</a></p>
  <p>Redes sociales:
    &nbsp;
    <a href="https://facebook.com/tallermecanico" target="_blank" class="icono-enlace">
      <img src="../assets/images/icon/facebook.png" alt="Descripción de la imagen" class="icono-imagen">
    </a>
    &nbsp;
    <a href="https://twitter.com/tallermecanico" target="_blank" class="icono-enlace">
      <img src="../assets/images/icon/twitter.png" alt="Descripción de la imagen" class="icono-imagen">
    </a>
    &nbsp;
    <a href="https://instagram.com/tallermecanico" target="_blank" class="icono-enlace">
      <img src="../assets/images/icon/instagram.png" alt="Descripción de la imagen" class="icono-imagen">
    </a>
  </p>
  <p>Número de teléfono: 637 17 50 20 </p>
</div>
