<div class="fondo-modal-imagen animated fadeIn fast"
     [class.oculto] = "modalCitaService.ocultarModal">

  <div class="modal fade show"
     id="exampleModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel1"
     style="display: block; padding-right: 17px;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Modificar Cita</h4>
              <button type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      (click)="cerrarModal()">
                      <span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form [formGroup] = "citaForm">
                <div class="form-group">
                  <label for="motivoCita">Motivo de la cita:</label>
                  <input type="text" class="form-control" id="motivoCita" formControlName="motivoCita" >
                </div>
                <div class="form-group">
                  <label for="fechaCita">Fecha de la cita:</label>
                  <input type="date" class="form-control" id="fechaCita"  formControlName="fecha">
                </div>
                <div class="form-group">
                  <label for="horaCita">Hora de la cita:</label>
                  <input type="time" class="form-control" id="horaCita" formControlName="hora">
                </div>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button"
                      class="btn btn-default"
                      data-dismiss="modal"
                      (click)="cerrarModal()">
                  Cancelar
              </button>
              <button type="button" class="btn btn-primary" (click)="actualizarCita()">Actualizar</button>
          </div>
      </div>
  </div>
</div>

</div>


