<!-- Main -->
<!-- Parallax de Intro-->
<div class="parallax mx-0 bg-intro d-flex flex-column justify-content-center">
  <p class="display-4 text-dark text-center mx-4 mb-4 pb-4">¡Bienvenido a Achecars!</p>
  <div  class="card wrapper-intro text-center text-dark mx-auto p-0">
    <div class="card-header" style="background-color: black;">
      <h4 class="pt-2" style="color: white;">Repare su carro con nosotros</h4>
    </div>
  </div>
</div>
<!-- Divisor -->
<div class="container-fluid">
  <div class="row">
    <div class="col h-100 my-5 py-5 p-4 p-lg-5 mx-lg-5">
      <p class="h3 text-center mx-3">Su vehículo solo merece el mejor de los cuidados</p>
      <p class="lead text-center mt-3">
        Nuestro equipo se especializa en la reparación de vehículos de alta gama y utiliza únicamente repuestos de primera. No deje
        que una mano inexperta servicie sus automóviles más preciados.
      </p>
    </div>
  </div>
</div>

<app-carousel></app-carousel>
<br><br>
<app-map></app-map>
<br><br>
<app-contacto></app-contacto>


